<div class="row">
<aside class="span4">
<section>
<%= render 'shared/user_info' %>
</section>

<section>
<%= render 'shared/stats' %>
</section>

<section>
<%= render 'shared/micropost_form' %>
</section>
</aside>

<div class="span8">
<h3>Micropost Feed</h3>
<%= render 'shared/feed' %>
</div>
</div>