<li>
  <span class="content"><%= wrap(micropost.content) %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <% if current_user?(micropost.user) %>
<%= render 'shared/delete_link', object: micropost %>
<% end %>
</li>
